/*页面初始化*/
*{margin: 0;padding: 0;border: 0;list-style: none;}


body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,
dl,dt,dd,ul,ol,li,pre,form,fieldset,
form,legend,button{
    outline: 0;
    vertical-align: baseline;
    background: transparent;}

body{width: 100vw; height: 100vh; font:12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;
    background:#f05150; font-family:"微软雅黑"; }

.whole{width:100vw;height:100vh;position:relative;background:#f05150;}

/*首页头部信息*/
.head{width:95vw; height:34vw; margin-left:5vw;}
.t_pic{width:20vw; height:20vw; float:left; border-radius:10px; overflow:hidden; margin-top:8vw; margin-bottom:6vw;}
.t_pic img{width:100%; height:auto;}
.t_tit{width:70vw; height:10vw; margin-top:13vw; float:right; border-top:1px solid #fff; font-size:4vw;
    color:#fff; letter-spacing:0.5vw; overflow:hidden;}
.t_tit p{overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}



/*首页方法选择*/
.method{width: 100vw;height: auto;text-align: center;overflow: hidden;margin-bottom: 10vw}
.method button{ width:80%; height:20vw; margin-top:15vw; margin-left: 10vw; float:left; font-size:5vw; text-align:center;
    line-height:20vw; border-radius:10px; visibility:visible; }
.method button:nth-of-type(1){ background:#fcb95a; color:#FFF;}
.method button:nth-of-type(2){ background:#ebebeb; color:#000;  margin-left:10%;}

/*方法1遮罩层*/
.method1_mask{width:100%; height:100%; position:fixed; top:0vw;display:none;}
.method1{z-index:101; width:100%; height:100%; color:#FFFFFF; background:#f05150;}

/*方法2遮罩层*/
.method2_mask{width:100%; height:100%; position:fixed; top:0vw;display:none;}
.method2{z-index:101; width:100%; height:100%; color:#FFFFFF; background:#f05150;}

/*方法1原因1遮罩层*/
.reason1_mask{width:100%; height:100%; position:fixed; top:0vw;display:none;z-index: 300;background:#f05150; }
#reason1{z-index:301; width:100%; height:100%; color:#FFFFFF; background:#f05150;}
/*方法1原因2遮罩层*/
.reason2_mask{width:100%; height:100%; position:fixed; top:0vw;display:none;z-index: 300;background:#f05150; }
#reason2{z-index:301; width:100%; height:100%; color:#FFFFFF; background:#f05150;}
/*方法1原因3遮罩层*/
.reason3_mask{width:100%; height:100%; position:fixed; top:0vw;display:none;z-index: 300;background:#f05150; }
#reason3{z-index:301; width:100%; height:100%; color:#FFFFFF; background:#f05150;}
/*方法1原因4遮罩层*/
.reason4_mask{width:100%; height:100%; position:fixed; top:0vw;display:none;z-index: 300;background:#f05150; }
#reason4{z-index:301; width:100%; height:100%; color:#FFFFFF; background:#f05150;}
/*方法1原因5遮罩层*/
.reason5_mask{width:100%; height:100%; position:fixed; top:0vw;display:none;z-index: 300;background:#f05150; }
#reason5{z-index:301; width:100%; height:100%; color:#FFFFFF; background:#f05150;}


/*方法1原因遮罩层内容部分*/
.reason_conent {width: 80vw;margin: 20vw 10vw 5vw 10vw;}
.reason_conent h2{font-size: 5vw;width: 25vw;height: 10vw;line-height: 10vw;border-radius:10px;}
.reason_conent button{
    font-size: 4vw; color:#000;width: auto; height: auto; line-height: 5vw;background-color: #afd9ee;text-align: center;border-radius: 2vw;
    margin-left: 2vw;margin-bottom: 2vw;padding:1vw;
}

/*方法1原因遮罩层尾部返回按钮*/
.reason_tail{width:100%; height:20vw; float:left;}
.reason_tail .back_reason{width:50%; height:12vw; margin-top:4vw; margin-left: 25%; font-size:4vw; text-align:center;
    line-height:12vw; border-radius:10px; visibility:visible;color: #fff;background:#fcb95a;}





/*方法通用头部*/
.method_head{width:95vw; height:30vw; margin-left:5vw;}
.method_head img{width:18vw; height:18vw; float:left; border-radius:10px; overflow:hidden; margin-top:6vw; margin-bottom:6vw;}
.method_head p{width:70vw; height:10vw; margin-top:13vw; float:right; border-top:1px solid #fff; font-size:5vw;
    color:#fff; letter-spacing:0.5vw; overflow:hidden;}


/*方法1的内容部分*/
.method1_con{width: 95vw;height: auto;overflow: hidden;margin-left: 5vw;/*text-align: center;*/}
.method1_con h1{font-size: 6vw;width: 30vw; height: 10vw;line-height: 10vw;border-radius:10px;}
.method1_con h2{font-size: 5vw;width: 25vw;height: 10vw;line-height: 10vw;border-radius:10px;}
/*方法1内容的关注焦点标签*/
.method1_con .focus button{
    font-size: 4vw; color:#000;width: auto;height: auto; background-color: #ffc4c4;text-align: center;border-radius: 2vw;
    margin-left: 2vw;margin-bottom: 2vw;padding:1vw;
}

.method1_con #point1{display: block;}
.method1_con #point2{display: none;}
.method1_con #point3{display: none;}
.method1_con #point4{display: none;}
.method1_con #point5{display: none;}

/*方法1内容的页码*/
.method1_con .page{width: 100vw;height: 10vw;text-align: center;margin-top: 5vw;}
.method1_con .page a{height: 10vw;width: auto;color: #fff;line-height: 10vw; font-size: 4vw;margin-left: 2vw;margin-right: 2vw;}



/*方法2的内容部分*/
.method2_con{width: 100vw;height: auto;text-align: center;overflow: hidden;margin-top: 10vw;margin-bottom: 10vw}
.method2_con button{ display: inline-block; text-align: center; background: #f05150; font-size: 4vw;
    line-height: 5vw; color: #fff; margin-bottom: 5vw;opacity: 0.5;}
.method2_con img{ width: 17vw; height: auto; margin:0 2.5vw 0vw 2.5vw; border-radius:10px;}


/*方法层通用尾部*/
.method_tail{width:90%; height:20vw; float:left; margin-left:5%;}
.method_tail button{width:45%; height:12vw; margin-top:4vw; float:left; font-size:4vw; text-align:center;
    line-height:12vw; border-radius:10px; visibility:visible; }
.method_tail button:nth-of-type(1){ background:#fcb95a; color:#FFF;}
.method_tail button:nth-of-type(2){ background:#ebebeb; color:#000;  margin-left:10%;}

/*遮罩层:正在提交数据*/
.ts_mask2{width:100%; height:100%; background:rgba(0,0,0,0.8); position:fixed; z-index:99; top:0vw; display:none;}
.tishi2{width:70%; height:50vw; background:url(/static/image/mxz_ts2.png) center no-repeat;
    float:left; background-size:100% auto; margin:50vw 15%;}
.qd2{width:50%; height:10vw; margin:30vw 25% 0 25%;}







































/*!*首页提交按钮*!*/
/*.tail{width:90%; height:20vw; float:left; margin-left:5%;}*/
/*.button_submit{width:50%; height:12vw; margin-top: 4vw; margin-left: 25%; float:left; font-size:5vw;*/
    /*text-align:center; line-height:12vw; border-radius:10px; visibility:visible; background:#fcb95a; color:#FFF;}*/



/*!*遮罩层1:正在获取数据*!*/
/*.ts_mask{width:100%; height:100%; background:rgba(0,0,0,0.8); position:fixed; z-index:99; top:0vw; display:none;}*/
/*.tishi{width:70%; height:50vw; background:url(/static/image/mxz_ts.png) center no-repeat;*/
    /*float:left; background-size:100% auto; margin:50vw 15%;}*/
/*.qd{width:50%; height:10vw; margin:30vw 25% 0 25%;}*/







/*!*维度层3,自主*!*/
/*.c3_mask{width:100%; height:100%; position:fixed; top:0vw;display:none;}*/
/*.c3{z-index:101; width:100%; height:100%; color:#FFFFFF; background:#f05150;}*/

/*!*维度层4,专注*!*/
/*.c4_mask{width:100%; height:100%; position:fixed; top:0vw;display:none;}*/
/*.c4{z-index:101; width:100%; height:100%; color:#FFFFFF; background:#f05150;}*/

/*!*维度层5,意志*!*/
/*.c5_mask{width:100%; height:100%; position:fixed; top:0vw;display:none;}*/
/*.c5{z-index:101; width:100%; height:100%; color:#FFFFFF; background:#f05150;}*/

/*!*维度层6,认知*!*/
/*.c6_mask{width:100%; height:100%; position:fixed; top:0vw;display:none;}*/
/*.c6{z-index:101; width:100%; height:100%; color:#FFFFFF; background:#f05150;}*/

/*!*维度层7,策略*!*/
/*.c7_mask{width:100%; height:100%; position:fixed; top:0vw;display:none;}*/
/*.c7{z-index:101; width:100%; height:100%; color:#FFFFFF; background:#f05150;}*/







/*!*维度通用层标题*!*/
/*.c_tit{width:95vw; height:15vw; margin-left:5%;}*/
/*.c_tit p{width:20vw;font-size:4vw; line-height:15vw;float: left;}*/
/*.c_tit .slider{width:70vw;height: 10vw;margin-top: 2.5vw;}*/
/*.c_tit .slider .well {background-color:#E0E0E0; width:70vw; height:10vw; position:relative;}*/
/*.c_tit .slider .well .Val {color:green; font-size:3vw;line-height: 10vw;}*/
/*.c_tit .slider .well .ValLabel{color:black;font-size:3vw;line-height:10vw;position:absolute;top:0;left:55vw;}*/
/*.c_tit .slider .well .slider-horizontal{width: 45vw;height: 2vw;position: absolute;top: 1vw;}*/

/*!*维度通用层内容*!*/
/*.c_con{ width:100vw; height:90vw;}*/
/*.c_con li{ width:100%; height:12vw;position: relative;display: none;}*/
/*.c_con li p{width:20vw; position:absolute; left:10vw; font-size:3vw; line-height:12vw; }*/
/*.c_con li .slider{width:65vw;height: 10vw;position: absolute; top:1vw;left: 30vw;}*/
/*.c_con li .slider .well {background-color: #E0E0E0;width: 65vw;height: 8vw;position: relative;}*/
/*.c_con li .slider .well .slider-horizontal{width: 40vw;height: 2vw;position: absolute;top: 4vw;left: 3vw;}*/
/*.c_con li .slider .well .ValLabel{color: black;font-size: 3vw;line-height: 10vw;position: absolute;top:0;left: 50vw;}*/
/*.c_con li .slider .well .Val {color: green;font-size: 3vw;line-height: 10vw;}*/



/*!*维度通用层尾部*!*/
/*.c_tail{width:90%; height:20vw; float:left; margin-left:5%;}*/
/*.c_tail button{width:45%; height:12vw; margin-top:4vw; float:left; font-size:4vw; text-align:center;*/
    /*line-height:12vw; border-radius:10px; visibility:visible; }*/
/*.c_tail button:nth-of-type(1){ background:#fcb95a; color:#FFF;}*/
/*.c_tail button:nth-of-type(2){ background:#ebebeb; color:#000;  margin-left:10%;}*/



/*!*添加备注层*!*/
/*.com_mask{width:100%; height:100%; position:fixed; top:0vw;display:none;}*/
/*.com{z-index:101; width:100%; height:100%; color:#FFFFFF; background:#f05150;}*/
/*.com_head{width:100%; height:40vw;}*/
/*.com_head p{width:90%; padding-top: 20vw; margin-left:10%; height:18vw; font-size:8vw; line-height:20vw; color:#fff;}*/

/*.words{width:80%; height:40vw; margin:10% auto; border-radius:5px; background:#fff; position:relative;}*/
/*.words textarea{width:98%; height:36vw; font-size:3vw; margin-top:2vw; margin-left:1%;*/
    /*visibility:visible; background:#fff; color:#999; overflow:hidden;}*/

/*.com_tail{width:90%; height:20vw; float:left; margin-left:5%;}*/
/*.com_tail button{width:50%; height:12vw; margin-top: 4vw; margin-left: 25%; float:left; font-size:5vw;*/
    /*text-align:center; line-height:12vw; border-radius:10px; visibility:visible; background:#fcb95a; color:#FFF;}*/


